<h1>Develop library</h1>

<!-- <div class="btn-setting container">
  <div class="btn-group">
    <button
      class="btn btn-secondary"
      [ngClass]="{ active: customCalendarType === 'month' }"
      (click)="this.customCalendarType = 'month'"
    >
      Month
    </button>
    <button
      class="btn btn-secondary"
      [ngClass]="{ active: customCalendarType === 'year' }"
      (click)="this.customCalendarType = 'year'"
    >
      Year
    </button>
  </div>
</div> -->

<ngx-calendar-helper [calendarEvents]="cal"></ngx-calendar-helper>
